# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
docs.zip
package.json
package-lock.json

# Node
node_modules/
.npmrc

# Playwright
.playwright-browsers/

# Logs and Output
outputs/
*.log
error.txt

# OS
.DS_Store
Thumbs.db

oooold_package-lock.json

草稿/
