# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
package-lock.json
oooold_package-lock.json

# Node
node_modules/
.npmrc

# Playwright
.playwright-browsers/

# Logs and Output
outputs/
*.log
error.txt

# OS
.DS_Store
Thumbs.db


草稿/
